---
layout: archive
title: "People"
permalink: /people/
author_profile: true
---

<html>
<head>
<style>

.myDiv {
  border-radius: 25px;
  border: 5px solid lightgray;
  background-color: white;    
  text-align: center;
}



/* CSS styles for the grid */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  
}

.peopleDiv {
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; Center vertically */
  align-items: center; /* Center horizontally */
  border-radius: 25px;
  border: 5px solid lightgray;
  width: 95%;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}


.peopleDiv img{
  height: 200px; 
  width: auto;
  /* max-width: 100%; */
}


figure {
  display: flex;
  flex-direction: column;
  /* justify-content: center; Center vertically */
  align-items: center; /* Center horizontally */
  /* display: flex; */
  /* float: left; */
  /* padding: 15px; */
  margin: 0;
}

figcaption {
  /* padding: 15px; */
  /* width: 100px; */
  margin-top: 10px;
}


.proDiv {
  display: flex;
  align-items: center;
  border-radius: 25px;
  border: 5px solid lightgray;
  /* width: 95%; */
  background-color: #f1f1f1;
  padding: 20px;
  /* padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px; */
}

.proDiv img{
  width: 300px; /* Adjust the width as needed */
}

.textContainer {
  margin-left: 50px; /* Adjust the margin as needed */
  margin-right: 20px;
  /* line-height: 1.0; */
}

.textContainer h1 {
  margin: 1px;
}

.textContainer h2 {
  margin: 2px;
}

.textContainer h3 {
  margin: 1px;
}



</style>
</head>
<body>


<div class="proDiv" display="flex" align-items="center">
  <img src="../images/People/Razi/Razi.jpg" width="500px">
  <div class="textContainer">
      <h1>Abolfazl Razi</h1>
      <br>
      <h2>Associate Professor</h2>
      <h2>Director of AI-based Sensing, Networking, and Data Services (AI-SENDS) Laboratory</h2>
      <h2>School of Computing</h2>
      <h2>Clemson University</h2>
      <br>
      <h3>Email: <a href="mailto:arazi@clemson.edu">arazi@clemson.edu</a></h3>
      <h3>Room 203, 821 McMillan Rd</h3>
      <h3>Clemson, SC 29631</h3>
  </div>
</div>



<br><br><br><br>



<h1> Graduate Students (2023) </h1>

<div class="grid">
  <!-- First cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Xiwen Chen 2022.jpg">
    <figcaption>
        <h1>Xiwen Chen</h1>
        <h2>PhD Student</h2>
        <h3>AI-Enabled Networking, Predictive Communications, IoT</h3>
    </figcaption>
    </figure>
  </div>

  <!-- Second cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Hao Wang.jpg">
    <figcaption>
        <h1>Hao Wang</h1>
        <h2>PhD Student</h2>
        <h3>Image Processing, Energy Management, Traffic Analysis, Computer Vision</h3>
    </figcaption>
    </figure>
  </div>

  <!-- Third cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Sayed Pedram Haeri Boroujeni.jpg">
    <figcaption>
        <h1>Sayed Pedram Haeri Boroujeni</h1>
        <h2>PhD Student</h2>
        <h3>Computer Vision, Machine Learning, Artificial Intelligence, Image Processing, Optimization, Bioinformatics.</h3>
    </figcaption>
    </figure>
  </div>

  <!-- Fourth cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Ahmad Sarlak.png">
    <figcaption>
        <h1>Ahmad Sarlak</h1>
        <h2>PhD Student</h2>
        <h3>AI-based Networking, Wireless Network, Machine Learning, Autonomous Vehicles.</h3>
    </figcaption>
    </figure>
  </div>

  <!-- Fifth cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Hazim Alzorgan.png">
    <figcaption>
        <h1>Hazim Alzorgan</h1>
        <h2>PhD Student</h2>
        <h3>Dynamic Motion Planning, Robot Dynamics, Deep Reinforcement Learning, Optimization.</h3>
    </figcaption>
    </figure>
  </div>

  <!-- Sixth cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/NiloufarMehrabi.jpg">
    <figcaption>
        <h1>Niloufar Mehrabi</h1>
        <h2>PhD Student</h2>
        <h3>Inverse Learning, Anomaly Detection, Computer Vision.</h3>
    </figcaption>
    </figure>
  </div>

  <!-- Seventh cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/AshishBastola.jpg">
    <figcaption>
        <h1>Ashish Bastola</h1>
        <h2>PhD Student</h2>
        <h3>Visual Computing, Transformers.</h3>
    </figcaption>
    </figure>
  </div>


  <!-- Eighth cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Uma Maheswara R Meleti.jpg">
    <figcaption>
        <h1>Uma Maheswara R Meleti</h1>
        <h2>Graduate Research Assistant</h2>
        <h3>Computer Vision, Image Processing, Deep Learning in Histopathology, Autonomous Vehicles, Machine Learning.</h3>
    </figcaption>
    </figure>
  </div>


  <!-- Repeat the above pattern for additional rows -->
</div>


<h1> Undergraduate Students (2023) </h1>

<div class="grid">
  <!-- First cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/JohnSuchanek.jpg">
    <figcaption>
        <h1>John Suchanek</h1>
        <h2>Undergraduate Student</h2>
        <h3>Research Interests: Autonomous Drone Project, Mathematics, Robotics, Computer Vision, Artificial Intelligence</h3>
    </figcaption>
    </figure>
  </div>

  <!-- Second cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/RayidAliMasooMohamed.jpg">
    <figcaption>
        <h1>Rayid Ali Masoos Mohammed</h1>
        <h2>Undergraduate Student</h2>
        <h3>Research Interests: Machine Learning, Data Science, Artificial Intelligence, Social Computing, Graphs and Networks</h3>
    </figcaption>
    </figure>
  </div>

  <!-- Third cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/MichaelElrod.jpg">
    <figcaption>
        <h1>Michael Elrod</h1>
        <h2>Undergraduate Student</h2>
        <h3>Research Interests: Artificial Intelligence,  Machine Learning, Autonomous Vehicles</h3>
    </figcaption>
    </figure>
  </div>


<!-- Repeat the above pattern for additional rows -->
</div>
  
<p align="center">
  <img src="../images/Lab/IMG_0393.JPG" width="90%">
</p>

<br><br><br><br>





<h1> Alumni </h1>

<p align="center">
  <img src="../images/Lab/RaziTeam1.jpeg" width="90%">
</p>


<br>



<div class="grid">
  <!-- First cell -->
  <div class="peopleDiv">
    <figure>
      <img src="../images/People/HanPeng_2.png" max-width="100%" height="100px">
      <figcaption>
        <h1>Han Peng</h1>
        <h3>Mobility Prediction, Reinforcement Learning for UAV Networking, Video-based Action Recognition</h3>
      </figcaption>
    </figure>
  </div>

  <!-- Second cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Arnau-Rovira.jpg" max-width="100%" height="100px">
    <figcaption>
        <h1>Arnau Sugranes</h1>
        <h3>Predictive Communications, Routing for Aerial Networks, Graph theoretic optimization, Wireless Sensor Networks</h3>
    </figcaption>
    </figure>
  </div>

  <!-- Third cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Huayu Li.jpg" max-width="100%" height="100px">
    <figcaption>
        <h1>Huayu Li</h1>
        <h3>Digital Holography, Image Processing, Deep Learning</h3>
    </figcaption>
    </figure>
  </div>

  <!-- Repeat the above pattern for additional rows -->

  <!-- Fourth cell -->
  <div class="peopleDiv">
    <figure>
    <img src="" max-width="100%" height="100px">
    <figcaption>
        <h1>Pengkai Feng</h1>
        <h3>Modeling gene transcription networking with graph neural networks Navigation, Adaptive Control</h3>
    </figcaption>
    </figure>
  </div>

  <!-- Fifth cell -->
  <div class="peopleDiv">
    <figure>
    <img src="" max-width="100%" height="100px">
    <figcaption>
        <h1>Vinod-Kumar Gummadi</h1>
        <h3>Internet of Things: Security and Information Flow</h3>
    </figcaption>
    </figure>
  </div>

  <!-- Sixth cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Mehrdad.jpg" max-width="100%" height="100px">
    <figcaption>
        <h1>Mehrdad Khaledi</h1>
        <h2>Postdoc</h2>
        <h3>Game Theory and Mechanism Design, Spectrum Sharing, Resource Allocation in Wireless & Mobile Networks, Crowd-sourcing</h3>
    </figcaption>
    </figure>
  </div>

  <!-- Repeat the above pattern for additional rows -->

  <div class="peopleDiv">
    <figure>
    <img src="../images/People/AliValehi.jpg" max-width="100%" height="100px">
    <figcaption>
        <h1>Ali Valehi</h1>
        <h2>Masters Student</h2>
        <h3>Computational Framework Design for Molecular Interaction Modeling, Cognitive Radio, Reinforcement Learning, Image-based Security</h3>
    </figcaption>
    </figure>
  </div>


  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Jiaming Chen.jfif" max-width="100%" height="100px">
    <figcaption>
        <h1>Jiaming Chen</h1>
        <h2>Masters Student</h2>
        <h3>Machine learning, statistical modeling</h3>
    </figcaption>
    </figure>
  </div>

  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Qiyuan Huang qh33_2017.jpg" max-width="100%" height="100px">
    <figcaption>
        <h1>Qiyuan Huan</h1>
        <h3>Electronic Kit Design for Remote Heart Monitoring, Virtual Reality for Aerial Systems</h3>
    </figcaption>
    </figure>
  </div>


  <div class="peopleDiv">
    <figure>
    <img src="../images/People/ZaoyiChi.png" max-width="100%" height="100px">
    <figcaption>
        <h1>Zaoyi Chi</h1>
        <h3>Graph Theory, Image-based Security, Nano-scaled image feature extraction</h3>
    </figcaption>
    </figure>
  </div>


  <div class="peopleDiv">
    <figure>
    <img src="" max-width="100%" height="100px">
    <figcaption>
        <h1>Jared Park</h1>
        <h2>Master's Thesis Committee </h2>
        <h3>Machine Learning for PUF Modeling</h3>
    </figcaption>
    </figure>
  </div>


  <div class="peopleDiv">
    <figure>
    <img src="" max-width="100%" height="100px">
    <figcaption>
        <h1>Abdulla Shamsuddin</h1>
        <h2>Master's Thesis Committee </h2>
        <h3>UAVs for Wildlife Monitoring</h3>
    </figcaption>
    </figure>
  </div>

    

  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Katie Carpenter.jpg" max-width="100%" height="100px">
    <figcaption>
        <h1>Kathryn Carpenter</h1>
        <h2>Undergraduate student</h2>
        <h3>Remote Heart Monitoring</h3>
    </figcaption>
    </figure>
  </div>


  <div class="peopleDiv">
    <figure>
    <img src="../images/People/JunshiWei.jpeg" max-width="100%" height="100px">
    <figcaption>
        <h1>Junshi Wei</h1>
    </figcaption>
    </figure>
  </div>


</div>


<br>


<p align="center">
  <img src="../images/Lab/RaziTeam2.jpeg" width="90%">
</p>


<br><br><br><br>



<h1> Capstone Project Design </h1>
<h2>EduPlatCommPro-S19</h2>
<h3>The Educational Platform for Communication Protocols: AY2018-19</h3><a href="https://www.cefns.nau.edu/capstone/projects/EE/2019/EduPlatCommPro-S19/">(Link)</a>

  <div class="grid">
  <!-- First cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/ChrisopherThompson.jpg" max-width="100%" height="100px">
    <figcaption>
        <h1>Christopher Thompson</h1>
    </figcaption>
    </figure>
  </div>
  
  <!-- Second cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/TylerHalperin.png" max-width="100%" height="100px">
    <figcaption>
        <h1>Tyler Halperin</h1>
    </figcaption>
    </figure>
  </div>

  <!-- Third cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/TylerCriss.jpg" max-width="100%" height="100px">
    <figcaption>
        <h1>Tyler Criss</h1>
    </figcaption>
    </figure>
  </div>

  <!-- Repeat the above pattern for additional rows -->

  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Huayu Li.jpg" max-width="100%" height="100px">
    <figcaption>
        <h1>Huayu Li</h1>
    </figcaption>
    </figure>
  </div>


</div>


<br><br><br><br>


<h2>U.I. Fit Project</h2>
<h3>Parallel Computing and Web Graphic User Interface Design for Molecular Interaction Modeling: AY2017-18</h3><a href="https://www.cefns.nau.edu/capstone/projects/CS/2018/UIFit/index.html">(Link)</a>

  <div class="grid">
  <!-- First cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Charles Chatwin.png" max-width="100%" height="100px">
    <figcaption>
        <h1>Charles Chatwin</h1>
        <h3>Website development, computer programming</h3>
    </figcaption>
    </figure>
  </div>
  
  <!-- Second cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Tanner Brelje.png" max-width="100%" height="100px">
    <figcaption>
        <h1>Tanner Brelje</h1>
        <h3>Parallel Computing, Optimization</h3>
    </figcaption>
    </figure>
  </div>

  <!-- Third cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Josh Gutman.png" max-width="100%" height="100px">
    <figcaption>
        <h1>Josh Gutman</h1>
        <h3>Bioinformatics, High performance parallel computing solutions using Slrum, BLAST, NASP</h3>
    </figcaption>
    </figure>
  </div>

  <!-- Repeat the above pattern for additional rows -->

  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Matthew Burns.png" max-width="100%" height="100px">
    <figcaption>
        <h1>Matthew Burns</h1>
        <h3>Cyber security, Web content management through web-front layout and back-end design</h3>
    </figcaption>
    </figure>
  </div>

</div>


<br><br><br><br>


<h2>Ground Robotic Design for Predictive Communications</h2>
<h3>AY2017-18</h3><a href="https://www.cefns.nau.edu/capstone/projects/EE/2018/OrdnanceDisposal1/">(Link)</a>

  <div class="grid">
  <!-- First cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Fahad Almaraghi.jfif" max-width="100%" height="100px">
    <figcaption>
        <h1>Fahad Almaraghi</h1>
    </figcaption>
    </figure>
  </div>
  
  <!-- Second cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/TylerHalperin.png" max-width="100%" height="100px">
    <figcaption>
        <h1>Yuting Zhang</h1>
    </figcaption>
    </figure>
  </div>

  <!-- Third cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Qiyuan Huang qh33_2017.jpg" max-width="100%" height="100px">
    <figcaption>
        <h1>Qiyuan Huang</h1>
    </figcaption>
    </figure>
  </div>

  <!-- Repeat the above pattern for additional rows -->

  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Chaoju Wang.jfif" max-width="100%" height="100px">
    <figcaption>
        <h1>Chaoju Wang</h1>
    </figcaption>
    </figure>
  </div>

  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Hanxiao Lu.jfif" max-width="100%" height="100px">
    <figcaption>
        <h1>Hanxiao Lu</h1>
    </figcaption>
    </figure>
  </div>

</div>


<br><br><br><br>


<h2>EOD</h2>
<h3>Explosive Ordnance Disposal Robot Design</h3><a href="https://www.cefns.nau.edu/capstone/projects/EE/2018/OrdnanceDisposal2/home.html">(Link)</a>

  <div class="grid">
  <!-- First cell -->
  <div class="peopleDiv">
    <figure>
    <img src="" max-width="100%" height="100px">
    <figcaption>
        <h1>Cody Warner</h1>
    </figcaption>
    </figure>
  </div>
  
  <!-- Second cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Sixian Zhang.jpg" max-width="100%" height="100px">
    <figcaption>
        <h1>Sixian Zhang</h1>
    </figcaption>
    </figure>
  </div>

  <!-- Third cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Yazhou Li.jpg" max-width="100%" height="100px">
    <figcaption>
        <h1>Yazhou Li</h1>
    </figcaption>
    </figure>
  </div>

  <!-- Repeat the above pattern for additional rows -->

  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Zening Wenpng.png" max-width="100%" height="100px">
    <figcaption>
        <h1>Zening Wen</h1>
    </figcaption>
    </figure>
  </div>

  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Huiwen Chu ch2435_2017.JPG" max-width="100%" height="100px">
    <figcaption>
        <h1>Huiwen Chu</h1>
    </figcaption>
    </figure>
  </div>

</div>


<br><br><br><br>


<h2>SumoBot</h2>
<h3>Sumo Robot Design: AY 2016-7</h3><a href="https://nausumobot.weebly.com/">(Link)</a>

  <div class="grid">
  <!-- First cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Alyssa Thomson.png" max-width="100%" height="100px">
    <figcaption>
        <h1>Alyssa Thompson	</h1>
    </figcaption>
    </figure>
  </div>
  
  <!-- Second cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Hashem Aldashti.jpg" max-width="100%" height="100px">
    <figcaption>
        <h1>Hashem Aldashti</h1>
    </figcaption>
    </figure>
  </div>

  <!-- Third cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Tyler Mullholand.png" max-width="100%" height="100px">
    <figcaption>
        <h1>Tyler Mulholland</h1>
    </figcaption>
    </figure>
  </div>

  <!-- Repeat the above pattern for additional rows -->

  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Omar Marshad.jpg" max-width="100%" height="100px">
    <figcaption>
        <h1>Omar Marshed</h1>
    </figcaption>
    </figure>
  </div>


</div>




<br><br><br><br>



<h2>HeartGuard</h2>
<h3>Remote Heart Monitor Project: AY2015-6</h3><a href="https://www.cefns.nau.edu/capstone/projects/EE/2016/">(Link)</a>

  <div class="grid">
  <!-- First cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Han Peng_2015.jpg" max-width="100%" height="100px">
    <figcaption>
        <h1>Han Peng</h1>
    </figcaption>
    </figure>
  </div>
  
  <!-- Second cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/YulanWesterveld.png" max-width="100%" height="100px">
    <figcaption>
        <h1>Yulan Westerveld</h1>
    </figcaption>
    </figure>
  </div>

  <!-- Third cell -->
  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Xinghao Qi_2015.jpg" max-width="100%" height="100px">
    <figcaption>
        <h1>Xinghao Qi</h1>
    </figcaption>
    </figure>
  </div>

  <!-- Repeat the above pattern for additional rows -->

  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Benjamin Johnson_2015.jpg" max-width="100%" height="100px">
    <figcaption>
        <h1>Benjamin Johnson</h1>
    </figcaption>
    </figure>
  </div>

  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Ahmed Altamimi_2015.jpg" max-width="100%" height="100px">
    <figcaption>
        <h1>Ahmed Altamimi</h1>
    </figcaption>
    </figure>
  </div>

  <div class="peopleDiv">
    <figure>
    <img src="../images/People/Abdulmajeed Alhawsawi_2015.jpg" max-width="100%" height="100px">
    <figcaption>
        <h1>Abdulmajeed Alhawsawi</h1>
    </figcaption>
    </figure>
  </div>

</div>










<!-- 
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
