---
layout: archive
permalink: /prof/
title: "Professional Activities"
author_profile: true
---


<h1>Research Grants</h1>
<li>
SC EPSCoR GAIN Program, “VIA-LLM: Visually Impaired Assistive Tool with LLM Reasoning”, 
Duration: Dec 2025 – May 2027, Role: Lead-PI, Amount: $70K
</li>

<li>
VIPR-GS Program (US Army Detroit), “Anomaly Detection for Resilient Autonomy-Enabled Vehicle Systems”, 
Duration: Aug 2024 – Aug 2026, Role: Lead-PI, Amount: $590K
</li>

<li>
DOD / MIT Lincoln Laboratory, “Learning-Based Semantic Communication for Unmanned Aerial Systems”, 
Duration: Apr 2024 – Mar 2025, Role: PI, Amount: $100K
</li>

<li>Clemson VIPR-GS Program, “Anomaly Detection for Resilient Autonomy-Enabled Vehicle Systems”, 
  Duration: Jan  2024 – Dec 2024, Role:  Lead-PI, Amount:  $150K
</li>

<li>BMW Research, “AI-based Energy Management Enterprise for Complex Industrial Setups”, 
  Duration: Sep  2022 – Aug 2023, Role:  Sole-PI, Amount:  $75K
</li>

<li>MIT Lincoln Lab, “Leveraging Learning-Based Networking for Mission-Critical Autonomous Systems”, 
  Duration: Jan  2023 – Dec 2023, Role:  Lead-PI, Amount:  $100K
</li>

<li>NSF CCRI Program, “New distributed Sensing and Computing Over Sparse Environments (Discover) platform”, 
  Duration: Sep  2021 – Aug 2024, Role:  Co-PI, Amount:  $1.36M
</li>

<li>NSF CPS Program, “Wildland Fire Observation, Management, and Evacuation using Intelligent Collaborative Flying and Ground Systems”, 
  Duration: May  2021 – April 2024, Role:  Co-PI, Amount:  $174,787
</li>

<li>USDA AFRI Program, “Secure Traceability in the Food Supply Chain Using Cell Phone Readable Dendritic Identifiers”, 
  Duration: Jan 2021 – Dec 2022, Role:  Sub-contractor, Amount:  $480,000 (145,000) 
</li>

<li>NSF CNS  NeTS Program, “CNS Core: Small: PilotPC: Proactive Inverse Learning of Network Topology for Predictive Communication among Unmanned Vehicles”, 
  Duration: Sep 2020 - Aug 2023, Role:  Sole PI, Amount:  $480,000
</li>

<li>NSF NeTS CRII Program, “Towards Predictive Communications for UAV-based IoT Networks”, 
  Duration: Sep 2018 – Aug 2020, Role:  Sole PI, Amount:  $174,787
</li>

<li> NSF PFI Program, “Design and Fabrication of Memory-based Physical Unclonable Functions for Robust Key Generation”, 
  Duration: Sep 2018 – Aug 2021, Role:  Co-PI, Amount:  $803,000
</li>

<li> Arizona Board of Regents (ABOR), “Exploiting Nanomaterials for end-to-end Cybersecurity Solutions: Extension Grant”, 
  Duration: Jun 2016-Dec 2019, Role:  Co-PI, Amount:  $1,000,000
</li>

<li> US Air Force Research Laboratory (AFRL), “Dynamic Spectrum Leasing in Heterogeneous Unmanned Aerial Vehicle Networks”, 
  Duration: Jan 2018-Dec 2018, Role:  Co-PI, Amount:  $129,000
</li>

<li> US Air Force Research Laboratory (AFRL), “Predictive and Adaptive Communications for Real-time Dynamic Network Management in Autonomous Unmanned Aerial Vehicle Networks”, 
  Duration: Jan 2020-Dec 2021, Role:  Co-PI, Amount:  $150,000 
</li>

<li> Arizona Commerce Authority (ACA), “Advanced Video Analytics for Metric-Based Network Safety Performance Prediction”, 
  Duration: Jun 2020- May 2021, Role:  Co-PI, Amount:  $1,000,000, $150 K (State-wide Traffic Analysis) 
</li>

<li> US AFRL Visiting Faculty Research Program (VFRP), “Predictive Communications for UAV Systems”, Duration: Jun 2016-Aug 2016, Role:  Sole PI, Amount:  $11,000
</li>

<li> US AFRL Visiting Faculty Research Program (VFRP), “Predictive Network Topology Discovery and Communication Design for Autonomous Airborne Networks”, Duration: Jun 2017-Aug 2017,Role:  Sole PI, Amount:  $15,930 
</li>

<li> NIH U54 program, “Southwest Health Equity Research Collaborative (SHERC)”, Duration: Sep 2017-Aug 2022, Role:  Senior Personnel, Amount:  $21,400,000 
</li>

<li>
NAU SHERC Pilot Project, “Remote Heart Monitoring Platform for Early Prediction of Atrial Fibrillation for Under-served Populations”, 
Duration: Jan 2018 – Dec 2018, Role: Co-I, Amount: $60K
</li>


<li> NAU Interns to Scholars (I2S) program, “Multi-modal Signal Processing to Identify Heart Abnormalities using Wireless Health Monitoring Device project”, 
  Duration: Sep 2016-May 2017, Role: Sole PI, Amount:  $2,000 Direct cost     
</li>

<li> NAU Research Development Grant (RDG) program, “Smart Health Monitoring and Information Processing Platform”, Duration: Oct 2015-May 2016, Role:  Co-PI, Amount:  $49,950
</li>

<li> NIH U54 SHERC: Pilot Projects: NAU Internal Competition, “Remote Heart Monitoring Platform for Early Prediction of Arterial Fibrillation for Under-served Populations”, Duration: Jan 2018-Dec 2019, Role:  Co-PI, Amount:  $60,000
</li>


<br>
<br>
<br>


<h1>Awards</h1>

<h1>Awards</h1>

<ul>
  <li><b>2025</b> – <b>Best Poster Award</b>, ICRAIC Conference </li>

  <li><b>2024</b> – <b>Outstanding Contribution Award</b>, MICCAI–UWF4DR Organizing Committee</li>
  <li><b>2024</b> – <b>3rd Place Challenge Award (Task 1: Image Quality Assessment)</b>, MICCAI–UWF4DR Challenge</li>
  <li><b>2024</b> – <b>3rd Place Challenge Award (Task 3: Diabetic Macular Edema Identification)</b>, MICCAI–UWF4DR Challenge</li>

  <li><b>2012</b> – <b>Selected Poster Award</b>, Graduate Research Expo, University of Maine</li>
  <li><b>2012</b> – <b>Member</b>, Phi Kappa Phi Honor Society</li>

  <li><b>2011</b> – <b>Best Graduate Research Assistant Award</b>, College of Engineering, University of Maine</li>
  <li><b>2011</b> – <b>Best Paper Award</b>, IEEE/CANEUS Fly-by-Wireless Conference (FBW), Montreal, Canada</li>

  <li><b>2009</b> – <b>International Graduate Student Tuition Scholarship</b>, Graduate School, University of Maine</li>

  <li><b>2008</b> – <b>Best Researcher of the Year Award</b>, Mobile Communication Company of Iran (MCI)</li>

  <li><b>2007</b> – <b>Selected Proposal Award</b>, “Implementation of VAS Based on S@T Technology for Mobile Networks”, Mobile Communication Company of Iran (MCI)</li>
  <li><b>2006</b> – <b>Selected Proposal Award</b>, “Multi-IMSI JAVA SIM Card Development”, Mobile Communication Company of Iran (MCI)</li>

  <li><b>1994</b> – <b>Elite Student Award</b>, Rank 204 Nationwide University Entrance Examination (B.S.)</li>
</ul>




<br>
<br>
<br>



<h1>Training Certificates</h1>


<ul>
  <li><b>2011</b> – School of Information Theory, IEEE Information Theory Society, University of Texas at Austin</li>

  <li><b>2003</b> – GSM Statistics Handling-LZU1083274 (Ericsson)</li>
  <li><b>2003</b> – GSM MSC/VLR Operation-LZU108405 (Ericsson)</li>
  <li><b>2003</b> – AXE10 Emergency Handling-LZU108094 (Ericsson)</li>
  
  <li><b>2002</b> – OSS R9.1 Overview and Maintenance (Ericsson)</li>

  <li><b>2007</b> – BSS Network Parameter Optimization (Nokia)</li>
  <li><b>20xx</b> – EGPRS Explanation (Nokia)</li>
  <li><b>20xx</b> – GPRS BSS Parameters (Nokia)</li>

  <li><b>20xx</b> – Mobile SS7 Signaling (Aircom)</li>

  <li><b>2004</b> – SIM Card Structure, Securitym and SW Tools  (ST-Incard)</li>

  <li><b>2005</b> – SIM Card Structure, JAVA SIM, V.A.S and OTA Platform (Gemplus)</li>
  <li><b>2007</b> – Java Sim Applet Development-T1007D (Gemalto)</li>
  <li><b>2007</b> – SIM, STK, and OTA Basics-T1001I (Gemalto)</li>
  

  <li><b>2005</b> – Principales of GSM Network Optimization (MCI)</li>
  <li><b>2004</b> – Mobile Network Design Principles (MCI)</li>

  
  <li><b>2006</b> – CDMA Fundamentals (MCI)</li>
  <li><b>2006</b> – SQL Data Developing (MCI)</li>
  <li><b>2005</b> – JAVA Programming (MCI)</li>
  <!-- <li><b>2005</b> – Network Monitoring with TEMS Investigation (MCI)</li>
  <li><b>2007</b> – BSS Network Optimization (MCI)</li> -->
</ul>


<br>
<br>
<br>



<h1>Professional Activities</h1>

<h3>IEEE Maine Section PACE Chair</h3>
<li>PACE: Professional Activities Committees for Engineers (2009 to 2012)</li>

<h3>Technical Program Committee/ Organizing Committee/ Session Chair</h3>
<li>WiSEE 2019: IEEE Conference, Montreal, Canada, TPC Co-Chair</li>
<li>CCNC 2019: IEEE Conference, Las Vegas, Poster Session Chair</li>
<li>VTC 2017-19: IEEE Conference, TPC Member</li>
<li>KES2019,: International Conference, Invited Session Chair </li>
<li>CCNC2018: IEEE Conference, Program Committee</li>
<li>SECON 2018, IEEE Conference, CPC-UAV Workshop TPC Memeber</li>
<li>WiOPT 2016: International Conference on Wireless Networks, Arizona State University, Session Chair</li>
<li>CISS 2015: International Conference on Information Science and Systems, John Hopkins University, USA, Session Chair</li>
<li>WiSEE 2015: IEEE International Conference on Wireless for Space and Extreme Conditions, Orlando, USA, TPC</li>
<li>WiSEE 2014: IEEE International Conference on Wireless for Space and Extreme Conditions , Maryland, USA, TPC</li>
<li>FBW 2010: IEEE/CANEUS Workshop on Fly by Wireless, Orono, ME, USA, Organizing Committee</li>
<li>IEEE Maine Section: Seminar on Interference Alignment, Orono, ME, USA, Organizing Committee</li>

<h3>Cooperation with Industry</h3>
<li>with SPX/Dielectric Company, Mentum Planet ver 4.5, remote software management, 2010</li>

<h3>Mentoring Program</h3>
<li>EE Senior Students mentorship under NASA MERIT program, WiseNet Lab, summer 2010 and 2011</li>

<h3>Paper review</h3>
<li>for IEEE conferences including: ISWCS 2010, QBSC 2010,WCNC2010, ICC2012, ICNC 2013, Globecom 2012, WiSEE 2014/2015, IEEE Communications Letters, IEEE Trans. Wireless Communications, IEEE Trans. Vehicular Communications and IEEE Trans. on Communications, BMC Research note.</li>



<br>
<br>
<br>


<h1>Industrial Work Experience</h1>

<h3>Mobile Company of Iran (MCI)</h3>
<p>Project Manager and Technical Support (2001 to 2009 )</p>
  <li>Management of Value Added Services (VAS) Development Project</li>
  <li>Management of Gemplus S@T Pilot Server Installation Project</li>
  <li>Technical Committee of Equipment Purchase Tenders</li>
  <li>Feature Test for Mobile Switching Centers (MSC)</li>
  <li>Base Station Subsystem (BSS) Site Survey and Feature Test</li>
  <li>Cooperation in Mobile Banking Project</li>
  <li>Member of MCI's GPRS Research and Technical Group</li>
  <li>Member of MCI's Technical Specifications Committee</li>

<h3>Pars Telephone Kar (PTK) Communications Company</h3>
<p>R&D, Software Developer (2001 to 2003)</p>
<li>Alarm Panel Design for PDX-5 PABX Switch</li>
<li>Charging Module Development for PDX-5 PABX Switch</li>
<li>Contribution in O&M Software Development for PDX-5 PABX Switch</li>




<br>
<br>
<br>


<h1>Links</h1>

  <li> <a href="https://www.clemson.edu/cecas/departments/computing/">Clemson School Computing</a> </li>
  <li> <a href="https://case.edu/cancer/about/primary-faculty/vinay-varadan-phd.html">Dr. Vinay's Website (Postdoc advisor)</a></li>
  <li> <a href="https://case.edu/cancer/">Prof Lawrence Carin's Research Group (Postdoc advisor) </a></li>
  <li> <a href="https://en.sharif.edu/">Sharif University of Technology </a></li>
  <li> <a href="https://aut.ac.ir/en">Amir Kabir University of Technology</a></li>
  <li> <a href="https://ece.umaine.edu/">University of Maine, ECE department</a></li>
  <li> <a href="https://ece.umd.edu/">University of Maryland, College Park, ECE department</a></li>
  <li> <a href="https://umaine.edu/wisenetlab/">Wisenet Lab</a></li>
  <li> <a href="https://www.ncbi.nlm.nih.gov/">NCBI Website </a></li>
  <li> <a href="http://www.tumorportal.org/">Tumor Portal (for Cancer Research)</a></li>
  <li> <a href="http://archive.ics.uci.edu/ml/index.php">UCI Machine Learning Repository</a></li>
  <li> <a href="https://www.ieee.org/">IEEE</a></li>
  <li> <a href="https://ieee-denver.org/pace/">IEEE PACE Network (Professional Activities Committees for Engineers)</a></li>
  <li> <a href="https://www.ewh.ieee.org/r1/maine/me_officers.html">IEEE Maine Section</a></li>
  <li> <a href="https://www.eeweb.com/interview-with-abolfazl-razi/">My Interview with EEWeb</a></li>
  <li> <a href="https://www.linkedin.com/in/abolfazl-razi-48886522">My Linkedin</a></li>






<h1>Professional Activities</h1>

<h3>IEEE Maine Section PACE Chair</h3>
<li>PACE: Professional Activities Committees for Engineers (2009 to 2012)</li>

<h3>Technical Program Committee/ Organizing Committee/ Session Chair</h3>
<li>5th Asia Conference on Machine Learning and Computing (ACMLC), Bangkok, December 28-30, 2022, TPC Co-Chair</li>
<li> 5th International Conference on Machine Learning and Natural Language Processing (MLNLP 2022), Sanya, China, Dec. 23-25, 2022, Publication Chair</li>
<li>WiSEE 2019: IEEE Conference, Montreal, Canada, TPC Co-Chair</li>
<li>WiSEE 2019: IEEE Conference, Montreal, Canada, TPC Co-Chair</li>
<li>WiSEE 2019: IEEE Conference, Montreal, Canada, TPC Co-Chair</li>
<li>KESS 2020-22: Invited Special Session Chair</li>
<li>WiSEE 2019: IEEE Conference, Montreal, Canada, TPC Co-Chair</li>
<li>CCNC 2019: IEEE Conference, Las Vegas, Poster Session Chair</li>
<li>VTC 2017-19: IEEE Conference, TPC Member</li>
<li>KES2019,: International Conference, Invited Session Chair </li>
<li>CCNC2018: IEEE Conference, Program Committee</li>
<li>SECON 2018, IEEE Conference, CPC-UAV Workshop TPC Memeber</li>
<li>WiOPT 2016: International Conference on Wireless Networks, Arizona State University, Session Chair</li>
<li>CISS 2015: International Conference on Information Science and Systems, John Hopkins University, USA, Session Chair</li>
<li>WiSEE 2015: IEEE International Conference on Wireless for Space and Extreme Conditions, Orlando, USA, TPC</li>
<li>WiSEE 2014: IEEE International Conference on Wireless for Space and Extreme Conditions , Maryland, USA, TPC</li>
<li>FBW 2010: IEEE/CANEUS Workshop on Fly by Wireless, Orono, ME, USA, Organizing Committee</li>
<li>IEEE Maine Section: Seminar on Interference Alignment, Orono, ME, USA, Organizing Committee</li>

<h3>Cooperation with Industry</h3>
<li>with MIT Lincoln Lab, working with Mission Critical Autonomous Systems, while in Clemson University, 2021-now</li>
<li>with BMW Research, AI-based Energy Management for Industrial Complex, while in Clemson University, 2022-23</li>
<li>with Philips Healthcare, Developing Computational Framework for Cancer Genomics, during Postdoc in Case Western Reserve University, 2013</li>
<li>with SPX/Dielectric Company, Mentum Planet ver 4.5, remote software management, during PhD program, 2010</li>

<h3>NSF Review Panel</h3>
<li>CPS , SCH , NeTS , CRI , GRFP , CSD&E, 2016-now</li>


<h3>Mentoring Program</h3>
<li>EE Senior Students mentorship under NASA MERIT program, WiseNet Lab, summer 2010 and 2011</li>

<h3>Paper review</h3>
<li>for IEEE/ACM/NIH Journals including: IEEE Vehicular Technology Magazine, IEEE Transactions on Communications, IEEE Transactions on Wireless Communications, IEEE Transactions on Aero Space and Electronic Systems, IEEE Transactions on Vehicular Technology (TVT), IEEE Communications Letters, IEEE Access, IEEE Journal of Biomedical and health informatics (JBHI), IEEE Internet of Things, IEEE Internet of Things Journal, Journal of Communications and Networks (JCN), ACM Transactions on Sensor Networks, BMC Research Notes (BMC), Journal of Sensors, Journal of Franklin, Elsevier Journal on Artificial Intelligence, Elsevier Engineering Applications of Artificial Intelligence, PLOS One, Hindawi Journal on Mobile Information Systems, IET Wireless Sensor Systems, Science China: Information Sciences, IEEE Transactions on Computational Biology, IET Sensor Systems Journal .</li>
<li>for IEEE conferences including: ICC, Globecom, VTC, CCNC, ISWCS, QBSC, WCNC, ICNC, WiSEE, PiMRC, AICT, SECON, CISS, etc.</li>

 

<br>
<br>
<br>


<h1>Industrial Work Experience</h1>

<h3>Mobile Company of Iran (MCI)</h3>
<p>Project Manager and Technical Support (2001 to 2009 )</p>
  <li>Management of Value Added Services (VAS) Development Project</li>
  <li>Management of Gemplus S@T Pilot Server Installation Project</li>
  <li>Technical Committee of Equipment Purchase Tenders</li>
  <li>Feature Test for Mobile Switching Centers (MSC)</li>
  <li>Base Station Subsystem (BSS) Site Survey and Feature Test</li>
  <li>Cooperation in Mobile Banking Project</li>
  <li>Member of MCI's GPRS Research and Technical Group</li>
  <li>Member of MCI's Technical Specifications Committee</li>

<h3>Pars Telephone Kar (PTK) Communications Company</h3>
<p>R&D, Software Developer (2001 to 2003)</p>
<li>Alarm Panel Design for PDX-5 PABX Switch</li>
<li>Charging Module Development for PDX-5 PABX Switch</li>
<li>Contribution in O&M Software Development for PDX-5 PABX Switch</li>









<!-- 
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %} -->
