---
layout: archive
permalink: /prof/
title: ""
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

<h1>Professional Activities</h1>

<h3>IEEE Maine Section PACE Chair</h3>
<li>PACE: Professional Activities Committees for Engineers (2009 to 2012)</li>

<h3>Technical Program Committee/ Organizing Committee/ Session Chair</h3>
<li>5th Asia Conference on Machine Learning and Computing (ACMLC), Bangkok, December 28-30, 2022, TPC Co-Chair</li>
<li> 5th International Conference on Machine Learning and Natural Language Processing (MLNLP 2022), Sanya, China, Dec. 23-25, 2022, Publication Chair</li>
<li>WiSEE 2019: IEEE Conference, Montreal, Canada, TPC Co-Chair</li>
<li>WiSEE 2019: IEEE Conference, Montreal, Canada, TPC Co-Chair</li>
<li>WiSEE 2019: IEEE Conference, Montreal, Canada, TPC Co-Chair</li>
<li>KESS 2020-22: Invited Special Session Chair</li>
<li>WiSEE 2019: IEEE Conference, Montreal, Canada, TPC Co-Chair</li>
<li>CCNC 2019: IEEE Conference, Las Vegas, Poster Session Chair</li>
<li>VTC 2017-19: IEEE Conference, TPC Member</li>
<li>KES2019,: International Conference, Invited Session Chair </li>
<li>CCNC2018: IEEE Conference, Program Committee</li>
<li>SECON 2018, IEEE Conference, CPC-UAV Workshop TPC Memeber</li>
<li>WiOPT 2016: International Conference on Wireless Networks, Arizona State University, Session Chair</li>
<li>CISS 2015: International Conference on Information Science and Systems, John Hopkins University, USA, Session Chair</li>
<li>WiSEE 2015: IEEE International Conference on Wireless for Space and Extreme Conditions, Orlando, USA, TPC</li>
<li>WiSEE 2014: IEEE International Conference on Wireless for Space and Extreme Conditions , Maryland, USA, TPC</li>
<li>FBW 2010: IEEE/CANEUS Workshop on Fly by Wireless, Orono, ME, USA, Organizing Committee</li>
<li>IEEE Maine Section: Seminar on Interference Alignment (P), Orono, ME, USA, Organizing Committee</li>

<h3>Cooperation with Industry</h3>
<li>with MIT Lincoln Lab, working with Mission Critical Autonomous Systems, while in Clemson University, 2021-now</li>
<li>with BMW Research, AI-based Energy Management for Industrial Complex, while in Clemson University, 2022-23</li>
<li>with Philips Healthcare, Developing Computational Framework for Cancer Genomics, during Postdoc in Case Western Reserve University, 2013</li>
<li>with SPX/Dielectric Company, Mentum Planet ver 4.5, remote software management, during PhD program, 2010</li>

<h3>NSF Review Panel</h3>
<li>CPS , SCH , NeTS , CRI , GRFP , CSD&E, 2016-now</li>


<h3>Mentoring Program</h3>
<li>EE Senior Students mentorship under NASA MERIT program, WiseNet Lab, summer 2010 and 2011</li>

<h3>Paper review</h3>
<li>for IEEE/ACM/NIH Journals including: IEEE Vehicular Technology Magazine, IEEE Transactions on Communications, IEEE Transactions on Wireless Communications, IEEE Transactions on Aero Space and Electronic Systems, IEEE Transactions on Vehicular Technology (TVT), IEEE Communications Letters, IEEE Access, IEEE Journal of Biomedical and health informatics (JBHI), IEEE Internet of Things, IEEE Internet of Things Journal, Journal of Communications and Networks (JCN), ACM Transactions on Sensor Networks, BMC Research Notes (BMC), Journal of Sensors, Journal of Franklin, Elsevier Journal on Artificial Intelligence, Elsevier Engineering Applications of Artificial Intelligence, PLOS One, Hindawi Journal on Mobile Information Systems, IET Wireless Sensor Systems, Science China: Information Sciences, IEEE Transactions on Computational Biology, IET Sensor Systems Journal .</li>
<li>for IEEE conferences including: ICC, Globecom, VTC, CCNC, ISWCS, QBSC, WCNC, ICNC, WiSEE, PiMRC, AICT, SECON, CISS, etc.</li>

 

<br>
<br>
<br>


<h1>Industrial Work Experience</h1>

<h3>Mobile Company of Iran (MCI)</h3>
<p>Project Manager and Technical Support (2001 to 2009 )</p>
  <li>Management of Value Added Services (VAS) Development Project</li>
  <li>Management of Gemplus S@T Pilot Server Installation Project</li>
  <li>Technical Committee of Equipment Purchase Tenders</li>
  <li>Feature Test for Mobile Switching Centers (MSC)</li>
  <li>Base Station Subsystem (BSS) Site Survey and Feature Test</li>
  <li>Cooperation in Mobile Banking Project</li>
  <li>Member of MCI's GPRS Research and Technical Group</li>
  <li>Member of MCI's Technical Specifications Committee</li>

<h3>Pars Telephone Kar (PTK) Communications Company</h3>
<p>R&D, Software Developer (2001 to 2003)</p>
<li>Alarm Panel Design for PDX-5 PABX Switch</li>
<li>Charging Module Development for PDX-5 PABX Switch</li>
<li>Contribution in O&M Software Development for PDX-5 PABX Switch</li>









<!-- 
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %} -->
