---
layout: archive
title: "People"
permalink: /talks/
author_profile: true
---

<html>
<head>
<style>

.myDiv {
  border-radius: 25px;
  border: 5px solid lightgray;
  background-color: white;    
  text-align: center;
}

.peopleDiv {
  margin: auto;
  border-radius: 25px;
  border: 5px solid lightgray;
  background-color: white;  
  /* align-items: center;   */
  /* padding: 10px; */
  /* text-align: center; */
  width: 50%;
}



figure {
      display: flex;
      /* float: left; */
      padding: 15px;
    }

figcaption {
      padding: 15px;
      /* width: 100px; */
    }





</style>
</head>
<body>


  
<h1> Graduate Students: Update 2020 </h1>


<p align="center">
  <img src="../images/People/RaziTeam1.jpeg" width="90%">
</p>



<br>


<div class="peopleDiv">
  <figure>
  <img src="../images/People/Arnau-Rovira.jpg" max-width="100%" height="200px">
  <figcaption>
      <h2>Arnau Sugranes</h2>
      <br>
      <h3>Research:</h3><p>Predictive Communications, Routing for Aerial Networks, Graph theoretic optimization, Wireless Sensor Networks</p>
  </figcaption>
  </figure>
</div>

<br>

<div class="peopleDiv">
  <figure>
  <img src="../images/People/HanPeng_2.png" max-width="100%" height="200px">
  <figcaption>
      <h2>Han Peng</h2>
      <br>
      <h3>Research:</h3><p>Mobility Prediction, Reinforcement Learning for UAV Networking, Video-based Action Recognition</p>
  </figcaption>
  </figure>
</div>

<br>

<div class="peopleDiv">
  <figure>
  <img src="../images/People/Xiwen Chen.jpg" max-width="100%" height="200px">
  <figcaption>
      <h2>Xiwen Chen</h2>
      <br>
      <h3>Research:</h3><p>AI-Enabled Networking, Predictive Communications, IoT</p>
  </figcaption>
  </figure>
</div>

<br>

<div class="peopleDiv">
  <figure>
  <img src="../images/People/Huayu Li.jpg" max-width="100%" height="200px">
  <figcaption>
      <h2>Huayu Li</h2>
      <br>
      <h3>Research:</h3><p>Digital Holography, Image Processing, Deep Learning</p>
  </figcaption>
  </figure>
</div>

<br>

<div class="peopleDiv">
  <figure>
  <img src="" max-width="100%" height="200px">
  <figcaption>
      <h2>Pengkai Feng
      </h2>
      <br>
      <h3>Research:</h3><p>Modeling gene transcription networking with graph neural networks Navigation, Adaptive Control</p>
  </figcaption>
  </figure>
</div>

<br>

<div class="peopleDiv">
  <figure>
  <img src="" max-width="100%" height="200px">
  <figcaption>
      <h2>Vinod-Kumar Gummadi</h2>
      <br>
      <h3>Research:</h3><p>Internet of Things: Security and Information Flow</p>
  </figcaption>
  </figure>
</div>



<br>
<br>
<br>





<h1> Alumni </h1>

<div class="peopleDiv">
  <figure>
  <img src="../images/People/Mehrdad.jpg" max-width="100%" height="200px">
  <figcaption>
      <h2>Mehrdad Khaledi (Postdoc)
      </h2>
      <br>
      <h3>Research:</h3><p>Game Theory and Mechanism Design, Spectrum Sharing, Resource Allocation in Wireless & Mobile Networks, Crowd-sourcing</p>
  </figcaption>
  </figure>
</div>

<br>

<div class="peopleDiv">
  <figure>
  <img src="../images/People/AliValehi.jpg" max-width="100%" height="200px">
  <figcaption>
      <h2>Ali Valehi (Masters Student)
      </h2>
      <br>
      <h3>Research:</h3><p>Computational Framework Design for Molecular Interaction Modeling, Cognitive Radio, Reinforcement Learning, Image-based Security</p>
  </figcaption>
  </figure>
</div>

<br>

<div class="peopleDiv">
  <figure>
  <img src="../images/People/Jiaming Chen.jfif" max-width="100%" height="200px">
  <figcaption>
      <h2>Jiaming Chen (Masters Student)
      </h2>
      <br>
      <h3>Research:</h3><p>Machine learning, statistical modeling</p>
  </figcaption>
  </figure>
</div>

<br>


<div class="peopleDiv">
  <figure>
  <img src="../images/People/Qiyuan Huang qh33_2017.jpg" max-width="100%" height="200px">
  <figcaption>
      <h2>Qiyuan Huan
      </h2>
      <br>
      <h3>Research:</h3><p>Electronic Kit Design for Remote Heart Monitoring, Virtual Reality for Aerial Systems</p>
  </figcaption>
  </figure>
</div>

<br>


<div class="peopleDiv">
  <figure>
  <img src="../images/People/ZaoyiChi.png" max-width="100%" height="200px">
  <figcaption>
      <h2>Zaoyi Chi
      </h2>
      <br>
      <h3>Research:</h3><p>Graph Theory, Image-based Security, Nano-scaled image feature extraction</p>
  </figcaption>
  </figure>
</div>

<br>



<div class="peopleDiv">
  <figure>
  <img src="" max-width="100%" height="200px">
  <figcaption>
      <h2>Jared Park	
      </h2>
      <br>
      <h3>Master's Thesis Committee: </h3><p>Machine Learning for PUF Modeling</p>
  </figcaption>
  </figure>
</div>

<br>



<div class="peopleDiv">
  <figure>
  <img src="" max-width="100%" height="200px">
  <figcaption>
      <h2>Abdulla Shamsuddin
      </h2>
      <br>
      <h3>Master's Thesis Committee: </h3><p>UAVs for Wildlife Monitoring</p>
  </figcaption>
  </figure>
</div>

<br>





<div class="peopleDiv">
  <figure>
  <img src="" max-width="100%" height="200px">
  <figcaption>
      <h2>Kathryn Carpenter 	
      </h2>
      <br>
      <h3>Undergraduate student</h3><p>Remote Heart Monitoring</p>
  </figcaption>
  </figure>
</div>

<br>






<!-- 
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
