---
layout: archive
permalink: /year-archive/
title: ""
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

<h1>Professional Activities</h1>

<h3>IEEE Maine Section PACE Chair</h3>
<li>PACE: Professional Activities Committees for Engineers (2009 to 2012)</li>

<h3>Technical Program Committee/ Organizing Committee/ Session Chair</h3>
<li>WiSEE 2019: IEEE Conference, Montreal, Canada, TPC Co-Chair</li>
<li>CCNC 2019: IEEE Conference, Las Vegas, Poster Session Chair</li>
<li>VTC 2017-19: IEEE Conference, TPC Member</li>
<li>KES2019,: International Conference, Invited Session Chair </li>
<li>CCNC2018: IEEE Conference, Program Committee</li>
<li>SECON 2018, IEEE Conference, CPC-UAV Workshop TPC Memeber</li>
<li>WiOPT 2016: International Conference on Wireless Networks, Arizona State University, Session Chair</li>
<li>CISS 2015: International Conference on Information Science and Systems, John Hopkins University, USA, Session Chair</li>
<li>WiSEE 2015: IEEE International Conference on Wireless for Space and Extreme Conditions, Orlando, USA, TPC</li>
<li>WiSEE 2014: IEEE International Conference on Wireless for Space and Extreme Conditions , Maryland, USA, TPC</li>
<li>FBW 2010: IEEE/CANEUS Workshop on Fly by Wireless, Orono, ME, USA, Organizing Committee</li>
<li>IEEE Maine Section: Seminar on Interference Alignment, Orono, ME, USA, Organizing Committee</li>

<h3>Cooperation with Industry</h3>
<li>with SPX/Dielectric Company, Mentum Planet ver 4.5, remote software management, 2010</li>

<h3>Mentoring Program</h3>
<li>EE Senior Students mentorship under NASA MERIT program, WiseNet Lab, summer 2010 and 2011</li>

<h3>Paper review</h3>
<li>for IEEE conferences including: ISWCS 2010, QBSC 2010,WCNC2010, ICC2012, ICNC 2013, Globecom 2012, WiSEE 2014/2015, IEEE Communications Letters, IEEE Trans. Wireless Communications, IEEE Trans. Vehicular Communications and IEEE Trans. on Communications, BMC Research note.</li>



<br>
<br>
<br>


<h1>Industrial Work Experience</h1>

<h3>Mobile Company of Iran (MCI)</h3>
<p>Project Manager and Technical Support (2001 to 2009 )</p>
  <li>Management of Value Added Services (VAS) Development Project</li>
  <li>Management of Gemplus S@T Pilot Server Installation Project</li>
  <li>Technical Committee of Equipment Purchase Tenders</li>
  <li>Feature Test for Mobile Switching Centers (MSC)</li>
  <li>Base Station Subsystem (BSS) Site Survey and Feature Test</li>
  <li>Cooperation in Mobile Banking Project</li>
  <li>Member of MCI's GPRS Research and Technical Group</li>
  <li>Member of MCI's Technical Specifications Committee</li>

<h3>Pars Telephone Kar (PTK) Communications Company</h3>
<p>R&D, Software Developer (2001 to 2003)</p>
<li>Alarm Panel Design for PDX-5 PABX Switch</li>
<li>Charging Module Development for PDX-5 PABX Switch</li>
<li>Contribution in O&M Software Development for PDX-5 PABX Switch</li>









<!-- 
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %} -->
